@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
:root{
    --main-color: #047491;
    --black:#13131a;
    --bg:#010103;
    --boder:.1rem solid rgba(255, 255, 255, .3);
    }

*{
    font-family: 'Roboto',sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .7rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}


/* contact section starts */
.heading{
    padding-top: 9rem;
}

.contact .row{
    display: flex;
    background: var(--black);
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
}

.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contact .row form .address{
    color: #fff;
    padding-bottom: 2rem;
    line-height: 3rem;
}

.contact .row form .address h1{
    font-size: 3.5rem;
    font-weight: lighter;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.contact .row form .address h2{
    font-size: 2rem;
    font-weight: lighter;
}

.contact .row form .address h2 span{
    font-weight: bolder;
}

.contact .row form .address p{
    font-size: 2rem;
    font-weight: lighter;
}

.contact .row form .address p span{
    font-weight: bolder;  
}

.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
    background: var(--bg);
    border: var(--boder);
}

.contact .row form .inputBox span{
    color: #fff;
    font-size: 2rem;
    padding-left: 1.5rem;
}

.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}

/* contact section ends */

/* footer section starts */

.footer{
    background: #1b1b1f38;
    text-align: center;
}

.footer .share{
    padding: 1rem;
}

.footer .share a{
    background-color: var(--bg);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: #fff;
    border: var(--boder);
    margin: .3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--main-color);
    color: var(--bg);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: .7rem 2rem;
    color: #fff;
    border: var(--boder);
    font-size: 1.5rem;
    background-color: var(--bg);
}

.footer .links a:hover{
    font-size: 1.6rem;
    background-color: var(--main-color);
}

.footer .credit{
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credit span{
    color: var(--main-color);
    font-weight: bolder;
}

/* footer section ends */













@media (max-width:991px){
    section{
        padding: 2rem;
    }
}

@media (max-width:860px){
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
    
    .about{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .row .content p{
        font-size: 1.5rem;
    }


    .BMI{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

.container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(9,200px);
    justify-content: center; 
    
}

.popup .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 60vh;
    height: 620px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
   
}

}





























